*.o
*~
*.dll
*.bak
*.mex*
*.mat
*.exe
*.o
*.d
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.*.m.swp
octave-core
**/*.eps
**/codegen/mex
**/codegen/lib/*/*_exe.c
**/codegen/lib/*/README
html
*.html
run_*_exe.m
mex_*.m
build_*_exe.m
octave-core
