*~
*.dll
*.bak
*.mex*
*.mat
*.vtk
*.inp
*.cgns
*.exe
*.exe.dSYM
*.o
*.ptx
*.d
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.*.m.swp
octave-core
**/*.eps

#Code generation
**/codegen/mex
**/codegen/lib/*/*_exe.c
**/codegen/lib/*/README
**/codegen/lib/*/mex_*.m
**/codegen/lib/*/oct_*.m
**/codegen/lib/*/build_*_exe.m
**/codegen/lib/*/html
**/codegen/lib/*/examples
**/codegen/lib/*/interface
**/codegen/lib/*/*_emxAPI.[hc]
*.html
run_*_exe.m
eval_*_ptx.m
octave-core
.MATLABDriveTag
